.face {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #06888E;
    padding-top: 50px;
    padding-left: 100px;
    font-family: Comic Sans ms;
}

.face_head {
    color: white;
    font-size: 45px;
    width: 80%;
}

body {
    margin: 0;
}

#point1,
#point2,
#point3,
#point4 {
    display: none;
}

.frame {
    position: relative;
    padding-left: 20px;
    padding-top: 50px;
    padding-right: 40px;
    color: white;
    left: 60%;
    width: 20%;
    height: 700px;
    background-color: rgba(0, 0, 0, 0.4);
    opacity: 0.9;
    display: none;
    font-size: 20px;
}

.menu {
    display: inline-block;
    vertical-align: top;
    width: 250px;
    margin-right: 50px;
}

.projects {
    text-align: center;
    position: fixed;
    vertical-align: top;
    display: inline-block;
    width: 100%;
    height: 20px;
    background-color: white;
    opacity: 0.9;
    font-size: 20px;
    z-index: 3;
}

.projects_extend {
    padding-top: 50px;
    padding-left: 50px;
    padding-right: 100px;
    position: fixed;
    display: inline-block;
    width: 100%;
    height: 800px;
    background-color: white;
    opacity: 0.99;
    font-size: 20px;
    display: none;
    z-index: 2;
}

.scroll {
    position: relative;
    bottom: 0;
    width: 100px;
    text-align: center;
}

.btn {
    margin: 10px;
    display: block;
    width: 200px;
    height: 50px;
    background-color: #29526D;
    background-color: #522B72;
    border: 1px solid white;
    border-radius: 5px;
    color: white;
    text-align: center;
    outline: none;
    font-size: 16px;
}

.nav {
    margin: 10px;
    display: inline-block;
    width: 50px;
    height: 50px;
}

.btn_sec {
    margin: 10px;
    width: 260px;
    height: 50px;
    background-color: #29526D;
    background-color: #522B72;
    border: 1px solid white;
    border-radius: 5px;
    color: white;
    text-align: center;
    outline: none;
    font-size: 16px;
}

.link {
    background-color: #B38118;
}

.strip {
    width: 100%;
    height: 5px;
    border-top: 1px solid white;
}

.strip2 {
    width: 70%;
    height: 5px;
    border-top: 1px solid black;
}

.btn:hover {
    position: relative;
    top: -2px;
    background: rgba(0, 0, 0, 0.5);
}

.btn:active {
    top: 2px;
}

.mid {
    margin-left: auto;
    margin-right: auto;
}

.progress_bar {
    width: 250px;
    height: 10px;
    background: white;
    border-radius: 5px;
}

.image {
    width: 300px;
    height: 225px;
    border: 1px solid green;
}

.image_current {
    width: 100%;
    height: 100%;
}

.progress_bar_status {
    margin: 0px;
    height: 100%;
    background: lightblue;
    border-radius: 5px 0px 0px 5px;
}

a {
    text-decoration: none;
    color: white;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="face_head"] {
        font-size: 25px;
    }
    [class*="face"] {
        padding-top: 5px;
        padding-left: 5px;
        top: 0;
    }
    [class*="frame"] {
        position: relative;
        padding-left: 20px;
        padding-top: 10px;
        padding-right: 50px;
        left: 0;
        width: 93%;
        height: 700px;
        background: black;
        display: none;
        font-size: 15px;
    }
}